.text-field {
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #676668;
    -fx-text-inner-color: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: 'Courier New';
}
.anchor-pane{
    -fx-background-color: #3C3F41;
}
.label{
    -fx-background-color: #2B2B2B;
    -fx-background-radius: 40;
    -fx-padding: 0 0 0 20;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-family: 'Courier New';
    -fx-text-fill: #fff;
}

.button{
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: #676668;
    -fx-text-inner-color: #ffffff;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}